body {
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: linear-gradient(to top right, rgba(232, 245, 255, 1), rgba(32, 112, 173, 1));
  background-repeat: repeat-y;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.todo-form {
  width: 400px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 75%;
  margin-bottom: 10px;
  height: 28px;
}

textarea {
  width: 75%;
  margin-bottom: 10px;
}

input, textarea {
  font-size: 14px;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  border: 1px solid rgb(94, 155, 255);
}

button {
  font-size: 14px;
  font-weight: bolder;
  color: white;
  background-color: rgb(94, 155, 255);
  width: 100px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: blue;
  border-radius: 5px;
}

ul {
  padding: 0;
}

.todo-li {
  list-style: none;
  background-color: white;
  border: 1px solid rgb(94, 155, 255);
  border-radius: 5px;
  width: 400px;
  margin-bottom: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-around;
}

.todo-detail {
  margin: 15px;
}

.todo-item a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.delete-button {
  background-color: red;
  color: white;
  font-weight: bolder;
}

.delete-button:hover {
  background-color: grey;
}

.undo {
  background-color: grey;
}

footer {
  display: flex;
  justify-content: center;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
}

footer li {
  margin: auto 10px;
}
