body {
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: space-around;
  background-color: rgb(155, 192, 255);
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 75%;
  margin: 10px;
}

textarea {
  width: 75%;
  margin: 10px;
}

button {
  font-size: 14px;
  background-color: lightblue;
  width: 125px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.todo-li {
  list-style: none;
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 5px;
  width: 400px;
  padding: 10px;
  margin: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-around;
}

.todo-item a:hover {
  cursor: pointer;
  text-decoration: underline;
}
