body {
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: space-around;
  background-color: rgb(155, 192, 255);
  align-content: center;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

form {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 75%;
  margin: 10px;
}

textarea {
  width: 75%;
  margin: 10px;
}

button {
  font-size: 14px;
  font-weight: bolder;
  color: white;
  background-color: lightblue;
  width: 100px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: blue;
  border-radius: 5px;
}

ul {
  padding: 0;
}

.todo-li {
  list-style: none;
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 5px;
  width: 400px;
  margin-bottom: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-around;
}

.todo-detail {
  margin: 15px;
}

.todo-item a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.delete-button {
  background-color: red;
  color: white;
  font-weight: bolder;
}

.delete-button:hover {
  background-color: grey;
}

.undo {
  background-color: grey;
}
